 *{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: (weight);
    font-style: normal;
  }
h1 {
  text-align: center;

}

body {
  background-image: linear-gradient(#A6F4DC, #E086D3,  #85FF9E, #79ADDC);
}
.carousel-inner img {
  margin: auto;
}

a-scene {
  height: 300px;
  width: 600px;
}

p {
  font-size:1.05rem ;
}

